.emoji-mart-anchors {
  padding: 0.6rem 0;
}

.emoji-mart-preview {
  display: none !important;
}

.emoji-mart-search {
  margin: 0.6rem 0 !important;
}

.emoji-mart-anchor {
  height: 0.4rem !important;
  width: 0.4rem !important;
  margin: 0.1rem !important;
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.6;
}

.emoji-mart-anchor.emoji-mart-anchor-selected {
  opacity: 1;
}

.emoji-mart-anchor-selected .emoji-mart-anchor-bar {
  display: none !important;
}

.emoji-mart-anchor[data-index="1"] {
  background-image: url("../../icons/recents.svg");
  opacity: 0.4;
}

.emoji-mart-anchor.emoji-mart-anchor-selected[data-index="1"] {
  background-image: url("../../icons/recents.svg");
  opacity: 1;
}

.emoji-mart-anchor[data-index="2"] {
  background-image: url("../../icons/smileys.svg");
}

.emoji-mart-anchor.emoji-mart-anchor-selected[data-index="2"] {
  background-image: url("../../icons/smileys-active.svg");
}

.emoji-mart-anchor[data-index="3"] {
  background-image: url("../../icons/animals.svg");
}

.emoji-mart-anchor.emoji-mart-anchor-selected[data-index="3"] {
  background-image: url("../../icons/animals-active.svg");
}

.emoji-mart-anchor[data-index="4"] {
  background-image: url("../../icons/food.svg");
}

.emoji-mart-anchor.emoji-mart-anchor-selected[data-index="4"] {
  background-image: url("../../icons/food-active.svg");
}

.emoji-mart-anchor[data-index="5"] {
  background-image: url("../../icons/activities.svg");
}

.emoji-mart-anchor.emoji-mart-anchor-selected[data-index="5"] {
  background-image: url("../../icons/activities-active.svg");
}

.emoji-mart-anchor[data-index="6"] {
  background-image: url("../../icons/travel.svg");
}

.emoji-mart-anchor.emoji-mart-anchor-selected[data-index="6"] {
  background-image: url("../../icons/travel-active.svg");
}

.emoji-mart-anchor[data-index="7"] {
  background-image: url("../../icons/objects.svg");
}

.emoji-mart-anchor.emoji-mart-anchor-selected[data-index="7"] {
  background-image: url("../../icons/objects-active.svg");
}

.emoji-mart-anchor[data-index="8"] {
  background-image: url("../../icons/symbols.svg");
}

.emoji-mart-anchor.emoji-mart-anchor-selected[data-index="8"] {
  background-image: url("../../icons/symbols-active.svg");
}

.emoji-mart-anchor[data-index="9"] {
  background-image: url("../../icons/flags.svg");
}

.emoji-mart-anchor.emoji-mart-anchor-selected[data-index="9"] {
  background-image: url("../../icons/flags-active.svg");
}
